/*************************************************************
▼ 全体共通CSS
**************************************************************/


body{
  background: #f5f8fa;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/*************************************************************
▼ ヘッダー / ナビゲーション
**************************************************************/

.header {
  height: 46px;
  width : 100%;
  background : #fff;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  position: relative;
  top:0;
  position: fixed;
  z-index: 100;
}

.h_text{
  color: #1da1f2;
  text-align: center;
  line-height: 46px;
}

.h_profile_btn {
  width: 32px;
  height: 32px;
  background :#ccc;
  position: absolute;
  top: 8px;
  right: 50%;
  margin-right: -322px;
  border-radius: 4px;

}

.h-logout_btn{

  background: #0099CC;
  border-radius: 4px;
  width: 94px;
  height: 37px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 50%;
  margin-right: -432px;

}

/*************************************************************
▼ セクション全体
**************************************************************/


.section_whole_contents_wrapper {
  margin: 0 auto;
  margin-top:72px;
  width: 890px;
}


/*************************************************************
▼ プロフィール
**************************************************************/

.section_profile_wrapper {
  width :290px;
  height: 180px;
  float: left;
  background: #fff;
  border-radius: 4px 4px 0 0;
  border: 1px solid #e1e8ed;
  position: relative;

}


.section_profile_header_image{
  background-size: 100%;
  border-bottom: 1px solid #e1e8ed;
  height: 95px;
  border-radius: 4px 4px 0 0;
  background-position: 0 50%;
  background: #0099CC;
}

.profile_sum_wrapper{
  width: 33.333333%;
  float: left;
  text-align: center;
  margin-top: 4px;
}


.user_name{
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  left: 90px;
  top: 100px;
}

.sum_common_text {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: .02em;
}


.section_profile_image{
  border-radius: 7px;
  height: 72px;
  width: 72px;
  border: 2px solid #fff;
  box-sizing: border-box;
  background-color: #ccc;
  margin-top: -35px;
  margin-left: 8px;
}

.sum_common_num_text {
  font-size: 18px;
  font-weight: 500;
  padding-top: 3px;
  color: #0099CC;
  text-align: center;
}

/*************************************************************
▼ ツイート - つぶやき投稿
**************************************************************/

.section_tweet_wrapper {
  
  width: 590px;
  float: right;
  background: #fff;
  border-radius: 4px 4px 0 0;
  border: 1px solid #e1e8ed;

}

.tweet_box_wrapper{
  position: relative;
  height: 180px;
}

.tweer_form_wrapper {

  border: 1px solid #e1e8ed;
  border-radius: 3px;
  width: 506px;
  height: 80px;
  margin-top: 12px;
  margin-left: 70px;

}

.tweet_btn{
  
  background: #0099CC;
  border-radius: 4px;
  margin-top: 18px;
  margin-right: 12px;
  float: right;
  width: 94px;
  height: 37px;
  font-weight: bold;
  color :#fff;
}

/*************************************************************
▼ ツイート - コンテンツ観覧
**************************************************************/


.tweet_str_parents_wrapper{
  min-height : 86px;
  border-bottom: 1px solid #e1e8ed;
}

.tweet_str_wrapper{
  min-height : 56px;

}

.tweet_user_image{
  margin-top : 8px;
  margin-left : 8px;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background: #ccc;
  float: left;
}

.tweet_user_image_home_follow_follower{
  margin-top : 0px;
  margin-left : 0px;
  width: 68px;
  height: 68px;
}

.tweet_str_inner_wrapper{
  float: left;
  margin-top : 12px;
  margin-left : 8px;
  width: 510px;
}

.tweet_user{
  font-weight: bold;
}

.tweet_str{

  font-size: 14px;
  line-height: 18px;

}

.tweet_user_reply_image{
  width: 20px;
  height: 20px;
  margin-left: 62px;
}

.tweet_replay{

}

/*隠れコンテンツ*/

.tweet_str_action_wrapper{
  padding-top: 8px;
  padding-bottom: 8px;
  
}

.replay_tweet_str_wapper{
  height :150px;
  display: none;
  border-bottom: 1px solid #e1e8ed;
  padding-bottom: 12px;
}

.retweet_str_wapper{
  height :50px;
  display: none;
  border-bottom: 1px solid #e1e8ed;
  padding-bottom: 12px;
}

.retweet_user{
  font-size: 10px;
  color: #8899a6;
}

/*************************************************************
▼ おすすめユーザー表示
**************************************************************/


.section_user_recommend_wrapper{
  width :260px;
  height: 300px;
  position: absolute;
  top: 300px;
  background: #fff;
  border-radius: 4px 4px 0 0;
  border: 1px solid #e1e8ed;
  padding: 15px;
}

.user_recommend_wrapper{
  width :100%;
  height: 100px;
  position: relative;
}

.user_recommend_text{

  font-size: 18px;
  color: #66757f;
}

.section_profile_recommend_image{
  margin-top: 12px;
  border-radius: 7px;
  height: 72px;
  width: 72px;
  border: 2px solid #fff;
  box-sizing: border-box;
  background-color: #ccc;
  float: left;

}

.user_recommend_name{
  float: left;
  margin-top: 12px;
  margin-left: 12px;
  font-size:12px;
  font-weight: bold;

}

/*************************************************************
▼ フォローボタン
**************************************************************/

.follow_btn{
  background: #fff;
  border-radius: 4px;
  position: absolute;
  top: 45px;
  left: 82px;
  width: 120px;
  height: 37px;
  /*font-weight: bold;*/
  color: #000;
  border: 1px solid #e1e8ed;
}

/*************************************************************
▼ フォローしているユーザーの表示
**************************************************************/

.section_follow_parents_wrapper {
  
  width: 590px;
  float: right;
  padding-bottom : 40px;
  height : auto;
}

.form_follow{
  width: 290px;
  height: 280px;
  float: left;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e1e8ed;
  position: relative;
  margin-left: 6px;
  margin-bottom: 10px;

}

.section_follow_parents_wrapper > form:nth-child(odd){
  margin-left: 0;
}

.section_follow_wrapper {
  /*
  width :290px;
  height: 280px;
  float: left;

  background: #fff;
  border-radius: 4px;
  border: 1px solid #e1e8ed;
  position: relative;
  margin-left: 6px;
  margin-bottom: 10px;
  */

}


.section_follow_header_image{
  background-size: 100%;
  border-bottom: 1px solid #e1e8ed;
  height: 96px;
  border-radius: 4px 4px 0 0;
  background-position: 0 50%;
  background: #0099CC;
}

.profile_sum_wrapper{
  width: 33.333333%;
  float: left;
  text-align: center;
  margin-top: 4px;
}


.follow_name{
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  left: 90px;
  top: 100px;
}

.sum_common_text {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: .02em;
}

.section_follow_image{
  border-radius: 7px;
  height: 72px;
  width: 72px;
  border: 2px solid #fff;
  box-sizing: border-box;
  background-color: #ccc;
  margin-top: -35px;
  margin-left: 8px;
}

.section_profile_user_name{
  padding-left : 10px;
  padding-top : 6px;
  color: #292f33;
  font-weight: 700;
  font-size: 18px;
}

.section_profile_user_account_name {
  padding-left : 10px;
  padding-top : 6px;
  color: #66757f;
  font-size: 12px;
  font-weight: 400;
}

.section_profile_text{
  padding-top : 12px;
  padding-left : 10px;
  color: #66757f;
  font-weight: 400;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.375em;
}

/*************************************************************
▼ フォローしているユーザーのフォローボタン
**************************************************************/


.section_follow_follow_btn{

  top: 106px;
  right: 10px;
  background: #0099CC;
  border-radius: 4px;
  position: absolute;
  width: 120px;
  height: 37px;
  /*font-weight: bold;*/
  color: #fff;
  border: 1px solid #e1e8ed;
  
}

.section_follow_follow_btn:hover{
  background: #e81c4f;

}


/*************************************************************
▼ プロフィールページ
**************************************************************/


.header_profile_image{

  width :100%;
  height: 280px;
  background :#000;
  margin-top :46px;

}

.header_profile_list_wrapper {
  height :60px;
  width :100%;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  background : #fff;
  position: relative;
}

.header_profile_list_box{
  position: absolute;
  left: 50%;
  margin-left : -152px;
}

.header_profile_list{
  color: #66757f;
  font-size: 11px;
  float: left;
  padding: 14px 15px 7px;
  text-align: center;
}

.header_profile_list > a{
  color: #66757f;
}

.header_profile_list_num{
  color: #0099CC;
  font-size: 18px;
  padding-top: 3px;
  font-weight: 500;
  text-align: center;
}

.header_profile_edit_btn{
  width:160px;
  height:47px;
  position: absolute;
  right: 50%;
  top: 7px;
  margin-right: -445px;
  border-radius: 4px;
  background-color: #fff;
      background: transparent;
  background-repeat: no-repeat;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  color: #66757f;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 47px;
}

.header_profile_edit_btn:hover{

  color: #292f33;
  text-decoration: none;
  background-color: #e1e8ed;
  background-image: linear-gradient(#fff,#e1e8ed);
  border-color: #e1e8ed;

}


.section_whole_contents_wrapper_profile_page {
    margin: 0 auto;
    margin-top: 12px;
    width: 890px;
}

.section_profile_image_profile_page{
  width : 200px;
  height : 200px;
  border-radius: 7px;
  border: 2px solid #fff;
  box-sizing: border-box;
  background-color: #ccc;
  margin-top: -155px;
  margin-left: 0px;
  position: absolute;
}

.section_profile_image_tag{
  width: 196px;
  height: 196px;
  box-sizing: border-box;
  border-radius: 7px;
}

.section_profile_wrapper_profile_page{
  width :290px;
  height: 180px;
  float: left;
  background: #f5f8fa;
  position: relative;
}

.user_name_profile_page{

  margin-top: 60px;
  margin-left: 4px;
  font-weight: bold;
  font-size: 18px;
}

.user_account_name_profile_page{
  color: #8899a6;
  font-size: 14px;
  font-weight: 400;
  margin-left: 4px;
  margin-top:4px;

}

.user_profile_text_profile_page{
  font-size: 14px;
  font-weight: 400;
  margin-top:10px;
  margin-left: 4px;
}

.user_place_profile_page{
   font-size: 14px;
  font-weight: 400;
  margin-top:10px;
  margin-left: 4px; 
}

/*************************************************************
▼ プロフィール -  編集ページ
**************************************************************/

.section_profile_edit_wrapper{
  
  width: 590px;
  padding-bottom: 20px;
  margin-bottom: 46px;
  height: auto;
  float: right;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e1e8ed;

}


.use_profile_edit_form{
  margin-top:16px;
}
.section_profile_edit_header_text{
  padding: 12px;
  background-color: #fff;
  border-bottom: 1px solid #e1e8ed;

}

.section_profile_edit_header_text{
  color: #66757f;
  font-size: 22px;
  font-weight: 300;
  line-height: 22px;
}

.profile_edit_header_sub_text{
  color: #8899a6;
  margin-top: 3px;
  font-size: 14px;
}

.profile_edit_list_wrapper{
  width : 100%;
  height : 60px;
  /*border-bottom:1px solid #ccc;*/
  margin-bottom: 12px;
  margin-left: 12px;
  line-height: 60px;
}

.user_name_edit,
.user_place_edit,
.user_profile_text_edit{
    display: inline-block;
    width: 210px;
    padding: 4px;
    margin: 0 auto;
    outline: 0;
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-radius: 3px;
}

.user_profile_text_edit{
  display: inline-block;
  width: 210px;
  padding: 4px;
  margin: 0 auto;
  margin-left: 14px;
  outline: 0;
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 3px;
}

.edit_text{
  display: inline-block;
  padding-right: 12px;
}

.profile_edit_complete_btn{
  background: #0099CC;
  border-radius: 4px;
  margin-top: 18px;
  margin-right: 12px;
  float: right;
  width: 94px;
  height: 37px;
  font-weight: bold;
  color: #fff;
}

.profile_error_text{
  color: red;
  margin-top: 12px;
  margin-left: 12px;
}